@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet');
@import "bootstrap.css";
@import "owl.carousel.css";
@import "owl.theme.default.css";
.container {
  max-width: 1064px;
}

header ul li {
  font: 16px/26px "Roboto", sans-serif;
  font-weight: 700;
}
header .navbar-light .navbar-nav .nav-link {
  color: #1C1B1B;
}
header .inst {
  padding-top: 10px;
}
header .nav-link {
  padding: 0;
}

.main_banner {
  background: #F0EFEB;
  padding: 90px 0;
  position: relative;
}

.humanity .humanity-h1 {
  font: 60px/70px "Roboto", sans-serif;
  font-weight: 700;
  color: #000000;
  margin-bottom: 42px;
}
.humanity .humanity-h5 {
  font: 24px/28px "Roboto", sans-serif;
  font-weight: 400;
  color: #000000;
  margin-bottom: 26px;
}
.humanity .shop-button {
  font: 17px/20px "Roboto", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  background: #000000;
  border: 1px solid #000000;
  border-radius: 100px;
  padding: 7px 23px 9px;
  text-decoration: none;
  display: inline-block;
}
.humanity .first-img {
  max-width: 599px;
  height: 521px;
  object-fit: scale-down;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .humanity .first-img {
    left: 60px;
    top: -70px;
    position: absolute;
  }
}

.logo {
  padding-left: 97px;
}

.guides .explain {
  font: 36px/42px "Roboto", sans-serif;
  font-weight: 700;
  color: #000000;
  margin-top: 60px;
}
.guides .teaser {
  margin-bottom: 47px;
  font: 20px/23px "Roboto", sans-serif;
  font-weight: 400;
  color: #000000;
  max-width: 632px;
}
.guides .availability {
  margin-bottom: 88px;
  font: 20px/23px "Roboto", sans-serif;
  font-weight: 400;
  color: #000000;
}

.cards-sellers {
  margin-bottom: 240px;
}
.cards-sellers .best-sellers {
  margin-bottom: 52px;
  font: 36px/42px "Roboto", sans-serif;
  font-weight: 700;
  color: #000000;
}
.cards-sellers .cards {
  max-width: 309px;
  margin-bottom: 27px;
}
.cards-sellers .card_h4 {
  font: 17px/20px "Roboto", sans-serif;
  font-weight: 700;
  color: #000000;
  margin-bottom: 17px;
  width: 156px;
}
.cards-sellers .card_p {
  font: 17px/20px "Roboto", sans-serif;
  font-weight: 400;
  color: #000000;
  margin-bottom: 10px;
}
.cards-sellers .card_a {
  font: 17px/20px "Roboto", sans-serif;
  font-weight: 700;
  text-decoration-line: underline;
  color: #000000;
}

.people_cards .container {
  max-width: 100%;
}
@media screen and (max-width: 990px) {
  .people_cards .img-cards {
    justify-content: center !important;
  }
  .people_cards .img-cards img {
    width: auto;
  }
}

.people_society {
  background: rgba(204, 204, 204, 0.3);
}
.people_society h3 {
  color: #000000;
  font: 36px/42px "Roboto", sans-serif;
  font-weight: 700;
  padding-bottom: 31px;
}
.people_society p {
  color: #000000;
  font: 36px/42px "Roboto", sans-serif;
  font-weight: 400;
  padding-bottom: 40px;
  max-width: 498px;
}
.people_society a {
  color: #000000;
  font: 17px/20px "Roboto", sans-serif;
  font-weight: 700;
  text-decoration-line: underline;
}
.people_society img {
  padding-bottom: 51px;
  padding-top: 76px;
}

.culture {
  background: rgba(204, 204, 204, 0.6);
}
.culture h3 {
  color: #000000;
  font: 36px/42px "Roboto", sans-serif;
  font-weight: 700;
  padding-bottom: 31px;
}
.culture p {
  color: #000000;
  font: 36px/42px "Roboto", sans-serif;
  font-weight: 400;
  padding-bottom: 40px;
  max-width: 513px;
}
.culture a {
  color: #000000;
  font: 17px/20px "Roboto", sans-serif;
  font-weight: 700;
  text-decoration-line: underline;
}
.culture img {
  padding-bottom: 51px;
  padding-top: 76px;
}

.politics {
  background: rgba(204, 204, 204, 0.3);
}
.politics h3 {
  color: #000000;
  font: 36px/42px "Roboto", sans-serif;
  font-weight: 700;
  padding-bottom: 31px;
}
.politics p {
  color: #000000;
  font: 36px/42px "Roboto", sans-serif;
  font-weight: 400;
  padding-bottom: 40px;
  max-width: 530px;
}
.politics a {
  color: #000000;
  font: 17px/20px "Roboto", sans-serif;
  font-weight: 700;
  text-decoration-line: underline;
}
.politics img {
  padding-bottom: 51px;
  padding-top: 76px;
}

.unique {
  color: #000000;
  font: 36px/42px "Roboto", sans-serif;
  font-weight: 400;
  margin-bottom: 70px;
  margin-top: 190px;
}

.text_circle {
  color: #000000;
  font-size: 30px/35px "Roboto", sans-serif;
  font-weight: 700;
  margin-bottom: 111px;
}

.circle {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  margin-bottom: 26px;
}

.light-blue {
  background: #D399FF;
}

.blue {
  background: #33D3BC;
}

.dark-blue {
  background: #18A5C6;
}

.beige {
  background: #D38F62;
}

.red {
  background: #F94C43;
}

.violet {
  background: #D399FF;
}

.card-voices {
  background: linear-gradient(white 50%, #F0F0F0 50%);
}
.card-voices .discover-part {
  color: #000000;
  font-size: 36px;
  font: 36px/42px "Roboto", sans-serif;
  font-weight: 700;
  margin-bottom: 102px;
}
.card-voices Img {
  width: 288px;
  margin-bottom: 35px;
}
.card-voices h4 {
  color: #000000;
  font: 24px/28px "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0.6px;
  margin-bottom: 35px;
}
.card-voices p {
  color: #000000;
  font: 20px/23px "Roboto", sans-serif;
  font-weight: 400;
  margin-bottom: 44px;
}
.card-voices a {
  color: #000000;
  font-size: 18px/21px "Roboto", sans-serif;
  font-weight: 700;
  text-decoration-line: underline;
}

.keep_in_touch {
  margin-bottom: 88px;
  margin-top: 80px;
}
.keep_in_touch h2 {
  color: #000000;
  font: 36px/42px "Roboto", sans-serif;
  font-weight: 700;
}
.keep_in_touch p {
  color: #000000;
  font: 17px/20px "Roboto", sans-serif;
  font-weight: 700;
  margin-bottom: 26px;
}
.keep_in_touch button {
  border-radius: 100px;
  border: 1px solid #000000;
  background: #000000;
  color: #FFF;
  font: 14px/16px "Roboto", sans-serif;
  font-weight: 400;
  padding: 8px 23px;
}

footer {
  background-color: black;
}
footer .footer-logo {
  margin-bottom: 37px;
}
footer .social {
  padding-right: 20px;
}
footer ul li {
  color: #FFF;
  font-size: 14px/16px "Roboto", sans-serif;
  font-weight: 400;
  text-decoration: none;
  list-style: none;
  line-height: 30px;
}
footer ul li a {
  color: #FFF;
}
footer p {
  color: #FFF;
  text-align: center;
  font-size: 14px/16px "Roboto", sans-serif;
  font-weight: 400;
  line-height: 23.1px;
}
footer .about {
  margin-bottom: 36px;
}

/*# sourceMappingURL=style.css.map */
